<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - ExpoCity</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"> <img src="{% static 'app/content/logo2.png' %}" alt="logo" style="width:50px;" /> </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Главная</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Афиша<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for category in categories %}
                            <li><a href="{% url 'category_detail' category.slug %}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Информация<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'blog' %}">Новости</a></li>
                            <li><a href="{% url 'about' %}">О нас</a></li>
                            <li><a href="{% url 'links' %}">Полезные ресурсы</a></li>
                            <li><a href="{% url 'contact' %}">Контакты</a></li>
                            <li><a href="{% url 'pool' %}">Обратная связь</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'videopost' %}">Видео</a></li>
                    {% if user.is_authenticated and not user.is_staff and not user.is_superuser %}
                    <li><a href="{% url 'cart' %}">Корзина</a></li>
                    <li><a href="{% url 'my_orders' %}">Мои заказы</a></li>
                    {% endif %}
                    {% if user.is_superuser %}
                    <li><a href="{% url 'newpost' %}">Добавить статью</a></li>
                    {% endif %}
                    {% if is_organizer %}
                    <li><a href="{% url 'manage_orders' %}">Заказы</a></li>
                    {% endif %}
                    {% if user.is_superuser or is_organizer %}
                    <li><a href="{% url 'admin:index' %}">Админ-панель</a></li>
                    {% endif %}
                    {% if not user.is_authenticated %}
                    <li><a href="{% url 'registration' %}">Регистрация</a></li>
                    {% endif %}
                </ul>
                {% include 'app/loginpartial.html' %}
            </div>
        </div>
    </div>

    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; ExpoCity - {{ year }}</p>
        </footer>
    </div>


    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    {% block scripts %}{% endblock %}

</body>
</html>